.ArtistInfo {
  width: 100%;
  height: 400px;
  display: flex;
  flex-flow: row;
  align-items: center;
  background: #f9f9f9;
  padding-top: 50px;
}

.ArtistInfo__label {
  width: 80px;
  height: 100%;
}
.ArtistInfo__label span {
  width: 400px;
  display: block;
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  transform: translate(-42%, 65px) rotate(-90deg);
  color: #e6e3e3;
}

.ArtistInfo__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  /* margin: auto; */
}

.ArtistInfo__info-image img {
  height: 400px;
}

.ArtistInfo__info-bio {
  width: 60%;
  display: flex;
  flex-flow: row;
}

.ArtistInfo__info-description {
  align-self: flex-start;
}

.ArtistInfo__info-description h1 {
  font-size: 4rem;
  margin: 0;
}
.ArtistInfo__info-description h2 {
  margin: 0;
}

.ArtistInfo__info-card {
  text-align: center;
  background: #dfdfdf;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #ccc;
  padding: 12px;
  margin: 24px 0;
}
