.SocialMediaMetrics {
  width: 100%;
  height: 750px;
  display: flex;
  flex-flow: row;
  align-items: center;
  background: #fffff4;
  padding-top: 45px;
}

.SocialMediaMetrics__label {
  width: 15%;
  height: 100%;
}

.SocialMediaMetrics__label span {
  width: 400px;
  display: block;
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  transform: translate(-42%, 250px) rotate(-90deg);
  color: #e2e2d9;
}

.SocialMediaMetrics__metrics {
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.SocialMediaMetrics__metrics-date-range {
  margin-top: 12px;
  font-size: 1.8em;
}

.SocialMediaMetrics__metrics-range-slider {
  margin: 18px !important;
  width: 700px !important;
}
