.NavigationBar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: #f9f1f1;
  z-index: 100;
}

.NavigationBar__input {
  height: 30px;
  width: 280px;
  margin: 0 18px;
  padding: 0 0.8rem;
  font-size: 1.15rem;
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}

.NavigationBar__input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #ccc;
}

.NavigationBar__links {
  width: 45%;
  height: 100%;
}

.NavigationBar__ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-content: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.NavigationBar__li {
  height: 100%;
  display: flex;
  align-items: center;
}

.NavigationBar__href {
  height: 100%;
  display: flex;
  color: black;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  padding: 0 5px;
  /* font-weight: bold; */
}

.NavigationBar__href:hover,
.NavigationBar__href:active {
  background: #fff8f8;
}
