.TrackMetrics {
  width: 100%;
  height: 800px;
  display: flex;
  flex-flow: row;
  align-items: center;
  background: #fbf7f5;
  padding-top: 50px;
}

.TrackMetrics__label {
  width: 80px;
  height: 100%;
}

.TrackMetrics__label span {
  width: 400px;
  display: block;
  font-size: 3rem;
  font-family: "Work Sans", sans-serif;
  transform: translate(-42%, 200px) rotate(-90deg);
  color: #e6e3e1;
}

.TrackMetrics__metrics {
  width: 960px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.TrackMetrics__metrics-title {
  margin-bottom: 0;
}

.TrackMetrics__metrics-range {
  margin: 0;
  margin-bottom: 8px;
}

.TrackMetrics__section {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
.TrackMetrics__section-range {
  margin: 12px;
  width: 100px;
}

/* .BubbleChart {
  font-family: 'Pragati Narrow', sans-serif;
  font-family: "Work Sans", sans-serif;
} */
